@charset "UTF-8";


/* 글목록 */
.table_bordered2 > :not(caption) > * > *{
	border-width: 0 0px !important;
}

tr>.th_1{
	width: 5% !important;
}

tr>.th_2{
	width: 65% !important;
}

tr>.th_3{
	width: 15% !important;
}

tr>.th_4{
	width: 10% !important;
}


tr>.th_1,.th_2, .th_3, .th_4{
	text-align: center;
}


tr > .td_1 , .td_2, .td_3, .td_4{
	text-align: center !important;
}

.panel-body > table > thead > tr > th{
	border: 0px !important;	
}

.panel-body > table > tbody> tr > td{
	border: 0px !important;
}


/* ------------------------------------------------- */

/* 글쓰기버튼 */
.write_btn{
	margin-top: 0px !important;
	margin-left: 0px !important; 
	margin-bottom: 10px !important;
}

.panel-heading{
	float: right !important;

}



/* ------------------------------------------------- */


/* 페이지 네이션 */
.pull-center > ul>li{
	margin: 0 auto;
	clear: both;
	padding-top: 20px;
}


/* 검색 */
#searchForm> .search_write{
	width: 180px !important;
}



/* ------------------------------------------------- */


/* 미디어 쿼리 */

@media (max-width: 1000px){
	tr>.th_1{
	width: 5% !important;
	}
	
	tr>.th_2{
		width: 60% !important;
	}
	
	tr>.th_3{
		width: 15% !important;
	}
	
	tr>.th_4{
		width: 20% !important;
	}
}


@media (max-width: 500px){
	tr>.th_1{
	width: 5% !important;
	}
	
	tr>.th_2{
		width: 55% !important;
	}
	
	tr>.th_3{
		width: 15% !important;
	}
	
	tr>.th_4{
		width: 25% !important;
	}
}
