/* 초기화 */
@charset "utf=8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none !important;
	word-break: keep-all;
	font-family: 'Noto Sans KR', sans-serif;
}


li{
	cursor: pointer;
}

/* --------------------------------------------- */

/* 로고 */
.navbar__logo>a>img{
	width: 120px;
	padding-top: 10px; 
}

.nav_nav{
	max-width: 1440px;
	margin: 0 auto;
	height: 80px;
	padding: 0 !important;
}

/* --------------------------------------------- */

/* 네비게이션바 */
#top{
	width: 100%;
	height: 80px;
	background-color: #c0c0c0;
}

.body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a:-webkit-any-link {
  color: #000;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff8080;
  height: 80px;
}


.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}


.navbar__toggleBtn {
  position: absolute;
  right: 16px;
  top : 15px;
  font-size: 24px;
  color: #d49466;
  display: none;
}


/* --------------------------------------------- */
/* 네비게이션  메뉴 */
.sublist{
	padding: 8px 0px !important;
}



/* --------------------------------------------- */


/* 변경 */
.mainmenu_nav>.submenu_nav{
    display:none;
}



/* --------------------------------------------- */

/* 반응형 */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar__logo>a>img{
	padding-top: 20px !important;
	padding-left: 16px !important; 
}

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }


  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
  
  .fas{
	padding-top: 15px; 	
}
}
